* {margin:0; padding:0; list-style: none}
body {overflow-x: hidden;}

#wrap {
  width: 1920px
}
#main {
  width: 100%;
  height: 1024px;
  background: url("../images/project_personal/visual_background.jpg");
  background-repeat: no-repeat;
}
#body {
  width: 1920px
}


/*헤더 자바스크립트로 숨기는 동작*/
#main>.nav-up {top: -56px;}


/*메인 비주얼 롤링 배너*/
#visual {width:100%;height:1200px;position:relative;overflow:hidden}

#visual .img{position:relative}
#visual .img li{position:absolute;width:100%;height:1100px;display:none}
#visual .img li:first-child{display:block}

#visual .img li .d_container{position:relative;width:1000px;margin:0 auto}
#visual .img li.l1 .motion .mockup{position:absolute;left:-260px;top:100px}/*margin 사용금지*/
#visual .img li.l1 .motion .title{position:absolute;left:315px;top:170px}
#visual .img li.l1 .motion .button_audio{position:absolute;left:300px;top:320px; z-index: 21}
#visual .img li.l1 .motion .button_blog{position:absolute;left:520px;top:320px; z-index: 22}
#visual .img li.l1 .motion .gestalt{position:absolute;left:310px;top:550px}

#visual .img li.l2 .motion .mockup{position:absolute;left:-270px;top:90px}/*margin 사용금지*/
#visual .img li.l2 .motion .title{position:absolute;left:430px;top:150px}
#visual .img li.l2 .motion .button_audio{position:absolute;left:410px;top:350px; z-index: 23}
#visual .img li.l2 .motion .button_blog{position:absolute;left:630px;top:350px; z-index: 24}
#visual .img li.l2 .motion .overview{position:absolute;left:420px;top:580px}

#visual .img li.l3 .motion {position:absolute;left:-130px;top:130px}/*margin 사용금지*/
#playbutton {text-indent: -9999px; display: none;}

#visual .btn{
  position:absolute;
  width:100%;
  top:340px;
  left:100px;
  text-align:left;
}
#visual .btn li{
  cursor:pointer;
  width:40px;
  height:2px;
  margin-bottom:40px;
  color: lightgrey;
  font-family: 'Noto Sans', sans-serif;
  font-size: 12pt;
  line-height: 2pt;
  text-indent: -30px;
  }

#visual .btn li .line {
  width: 40px;
  height: 2px;
  border-bottom: 2px solid #9555ff;
}

#visual .btn li.on{
  background:#9555ff;
  color: #9555ff;
}

#visual .arrow{
  position:absolute;
  top:460px;
  cursor:pointer;
  z-index:10
}
/*#visual .prev{left:50%;margin-left:-670px;}*/
#visual .next{
  left:50%;
  margin-left:680px
  }


/*바디 영역*/
#body>.body01 {
  width:100%;
  height: 349px;
  margin-top: 200px;
  background: url(../images/project_personal/body01.jpg);
  background-repeat: no-repeat;
}

#body>.body02 {
  width:100%;
  height: 417px;
  margin-top: 150px;
  background: url(../images/project_personal/body02.jpg);
  background-repeat: no-repeat;
}

#body>.body03 {
  width:100%;
  height: 597px;
  margin-top: 150px;
  background: url(../images/project_personal/body03.jpg);
  background-repeat: no-repeat;
}

#body>.body04 {
  width:100%;
  height: 573px;
  margin-top: 150px;
  background: url(../images/project_personal/body04.jpg);
  background-repeat: no-repeat;
}

#body>.body05 {
  width:100%;
  height: 928px;
  margin-top: 150px;
  background: url(../images/project_personal/body05.jpg);
  background-repeat: no-repeat;
}

#body>.body06 {
  width:100%;
  height: 939px;
  background: url(../images/project_personal/body06.jpg);
  background-repeat: no-repeat;
}

#body>.body07 {
  width:100%;
  height: 894px;
  background: url(../images/project_personal/body07.jpg);
  background-repeat: no-repeat;
}

#body>.body08 {
  width:100%;
  height: 900px;
  margin-top: 150px;
  background: url(../images/project_personal/body08.jpg);
  background-repeat: no-repeat;
}

#body>.body09 {
  width:100%;
  height: 1106px;
  background: url(../images/project_personal/body09.jpg);
  background-repeat: no-repeat;
}

#body>.body10 {
  width:100%;
  height: 806px;
  background: url(../images/project_personal/body10.jpg);
  background-repeat: no-repeat;
}

#body>.body11 {
  width:100%;
  height: 1371px;
  background: url(../images/project_personal/body16.jpg);
  background-repeat: no-repeat;
}

#body>.body12 {
  width:100%;
  height: 641px;
  margin-top: 10px;
  background: url(../images/project_personal/body17.jpg);
  background-repeat: no-repeat;
}

#body>.body13 {
  width:100%;
  height: 1572px;
  margin-top: 10px;
  background: url(../images/project_personal/body18.jpg);
  background-repeat: no-repeat;
}

#body>.body14 {
  width:100%;
  height: 1026px;
  background: url(../images/project_personal/body19.jpg);
  background-repeat: no-repeat;
}

#body>.body15 {
  width:100%;
  height: 1493px;
  margin-top: 150px;
  background: url(../images/project_personal/body20.jpg);
  background-repeat: no-repeat;
}

#body>.expression {
  width:100%;
  height: 319px;
  margin-top: 150px;
  background: url(../images/project_personal/expression.jpg);
  background-repeat: no-repeat; 
}

#body>.body16 {
  width:100%;
  height: 456px;
  margin-top: 150px;
  background: url(../images/project_personal/body21.jpg);
  background-repeat: no-repeat;
}

#body>.body17 {
  width:100%;
  height: 544px;
  margin-top: 150px;
  background: url(../images/project_personal/body22.jpg);
  background-repeat: no-repeat;
}

#body>.icongraphy {
  width:100%;
  height: 419px;
  margin-top: 150px;
  background: url(../images/project_personal/icongraphy.jpg);
  background-repeat: no-repeat;
}

/*퍼블리싱*/
#body>.publish>.setting01 {
  width: 1920px;
  height: 446px;
  margin-top: 150px;
  background: url("../images/project_personal/setting01.jpg");
  background-repeat: no-repeat;
}

#body>.publish>.setting02 {
  width: 1920px;
  height: 526px;
  background: url("../images/project_personal/setting02.jpg");
  background-repeat: no-repeat;
}

#body>.publish>.setting03 {
  width: 1920px;
  height: 550px;
  background: url("../images/project_personal/setting03.jpg");
  background-repeat: no-repeat;
}

#body>.publish>.setting04 {
  width: 1920px;
  height: 758px;
  background: url("../images/project_personal/setting04.jpg");
  background-repeat: no-repeat;
}

/*피드백*/
#body>.feedback {
  width:100%;
  height: 453px;
  margin-top: 50px;
  background: url(../images/feedback_background.jpg);
  background-repeat: no-repeat;
}
#feedback_banner {
  width:100%;
  height:453px;
  position:relative;
  overflow:hidden
}

#feedback_banner .img{position:relative}
#feedback_banner .img li{
  position:absolute;
  width:100%;
  height:453px;
  display:none
}
#feedback_banner .img li:first-child{display:block}

#feedback_banner .img li .d_container{position:relative;width:1000px;margin:0 auto}
/*#feedback_banner .img li.l1 .motion{position:absolute; top:160px; left:390px;}*/
#feedback_banner .img li.l2 .motion{position:absolute; top:155px; left:-20px;}
#feedback_banner .img li.l3 .motion{position:absolute; top:160px; left:-10px;}
#feedback_banner .img li.l4 .motion{position:absolute; top:170px; left:90px;}
#feedback_banner .img li.l5 .motion{position:absolute; top:160px; left:145px;}


#feedback_banner .btn{
  position:absolute;
  width:100%;
  bottom:20px;
  left:-10px;
  text-align:center}
#feedback_banner .btn li{cursor:pointer;margin:0 3px;display:inline-block;width:8px;height:8px;border-radius:50%;background:#f5f5f5}
#feedback_banner .btn li.on{background:#bc94ff}

#feedback_banner .arrow{
  position:absolute;
  top:230px;
  cursor:pointer;
  z-index:10
}
#feedback_banner .prev{left:50%;margin-left:-720px;}
#feedback_banner .next{left:50%;margin-left:650px}


#body>.body19 {
  width:100%;
  height: 196px;
  background: url(../images/project_personal/body23.jpg);
  background-repeat: no-repeat;
}

#another {
  width:1920px;
  height: 940px;
  background: url(../images/another_projects_background.jpg);
  background-repeat: no-repeat;
}

#another ul {
  position: relative;
  width: 1440px;
  height: 180px;
}

#another ul li a {
  display: block;
  width: 257px;
  height: 175px;
  margin-right: 40px;
}

#another>.list_up {
  position: relative;
  top:300px;
  left:530px;
}

#another>.list_up li {float: left}

#another>.list_down {
  position: relative;
  top:340px;
  left:235px;
}

#another>.list_down li {float: left}


/*푸터*/
#footer {
  clear: both;
  width: 1920px;
  height: 40px;
  background: url("../images/footer2.jpg");
  background-repeat: no-repeat;
}