* {margin:0; padding:0; list-style: none}
body {overflow-x: hidden;}

#wrap {width: 1920px; background-color: #ebfdfd}
#main {height: 1024px; background: url("../images/background2.jpg"); position: relative; z-index: 900}
#portfolio {height: 4190px; position: relative; z-index: 100; background-color: #fff}

/*헤더 자바스크립트로 숨기는 동작*/
#main>.nav-up {top: -56px;}


/*메인 타이포*/
#main>.title {
  position: relative;
  top:660px;
  left:59px;
  z-index:200
}

/*스크롤다운 버튼*/
#main>.viewproject {
  position: relative;
  top: 65px;
  left:1820px;
  z-index:201;
}

#main>.viewproject>a {
  display: block;
  width: 33px;
  height: 192px
}
#main>.viewproject>a>.scrolldown {
  width: 33px;
  height: 192px
}

#main>.viewproject>.mouse {
  margin-top: 20px;
  margin-left: 3px;
  animation: scroll 2s infinite;
}
@keyframes scroll {
  0% {opacity: 1}
  100% {opacity: .3; transform: translateY(10px);}
}

/*스크롤 영역 - 포트폴리오 섬네일 페이지*/

/*모바일 섬네일*/
#portfolio>.mobile {position: relative; top: -185px; left:350px; display: inline-block; width: 535px; height: 396px; z-index: 101}
#portfolio>.mobile>a {display: block; width: 535px; height: 396px}

/*퍼스널 사이트 섬네일*/
#portfolio>.personal {position: relative; top:40px; left:600px; display: inline-block; width: 605px; height: 641px; z-index: 102}
#portfolio>.personal>a {display: block; width: 605px; height: 641px}

/*웹 프로젝트 섬네일*/
#portfolio>.web {position: relative; top:700px; left:-920px; display: inline-block; width: 761px; height: 776px; z-index: 103}
#portfolio>.web>a {display: block; width: 761px; height: 776px}

/*이벤트 섬네일*/
#portfolio>.event {position: relative; top:250px; left:1095px; display: inline-block; width: 511px; height: 431px; z-index: 104}
#portfolio>.event>a {display: block; width: 511px; height: 431px}

/*꾸밈요소01*/
#portfolio>.parts01 {position: relative; top:374px; left:-380px; display: inline-block; width: 176px; height: 273px; z-index: 105}

/*모델링 포스터 섬네일*/
#portfolio>.poster {position: relative; top:958px; left:-250px; display: inline-block; width: 925px; height: 627px; z-index: 106}
#portfolio>.poster>a {display: block; width: 925px; height: 627px}

/*꾸밈요소02*/
#portfolio>.parts02 {position: relative; top:740px; left:10px; display: inline-block; width: 125px; height: 352px; z-index: 107}

/*브랜딩 섬네일*/
#portfolio>.branding {position: relative; top:770px; left:360px; display: inline-block; width: 534px; height: 489px; z-index: 108}
#portfolio>.branding>a {display: block; width: 534px; height: 489px}

/*일러스트 섬네일*/
#portfolio>.illust {position: relative; top:1073px; left:400px; display: inline-block; width: 707px; height: 835px; z-index: 109}
#portfolio>.illust>a {display: block; width: 707px; height: 835px}

/*꾸밈요소03*/
#portfolio>.parts03 {position: relative; top:990px; left:-1000px; display: inline-block; width: 238px; height: 100px; z-index: 110}

/*그래픽디자인 섬네일*/
#portfolio>.graphic {position: relative; top:1010px; left:260px; display: inline-block; width: 692px; height: 775px; z-index: 111}
#portfolio>.graphic>a {display: block; width: 692px; height: 775px}

/*컨택트 섬네일*/
#portfolio>.contactme {position: relative; top:1000px; left:367px; display: inline-block; width: 471px; height: 391px; z-index: 112}
#portfolio>.contactme>a {display: block; width: 471px; height: 391px}

/*푸터 / 카피라이트*/
#footer {clear: both; width: 1920px; height: 50px; background-color: #fff}
#footer>.copyright {padding-left: 820px}