* {margin:0; padding:0; list-style: none}
body {overflow-x: hidden;}

#wrap {
  width: 1920px
}
#main {
  height: 942px;
  background: url("../images/about/about_main_copy.jpg")
}
#body {
  width: 100%
}

/*헤더 자바스크립트로 숨기는 동작*/
#main>.nav-up {top: -56px;}


/*메인 영상*/
#main>video {
  position: relative;
  z-index: 600;
  top:175px;
  left:360px;
}

/*스크롤다운 애니메이션*/
#main>.scrolldown {
  position: relative;
  top:240px;
  left:960px;
  z-index:201;
}
#main>.scrolldown>.mouse {
  animation: scroll 2s infinite;
}
@keyframes scroll {
  0% {opacity: 1}
  100% {opacity: .3; transform: translateY(10px);}
}

/*바디 영역*/

/*바디01*/
#body>.body01 {
  width: 100%;
  height: 950px;
  background: url("../images/about/about_02.jpg");
}

/*바디02*/
#body>.body02 {
  width: 100%;
  height: 280px;
  background: url("../images/about/about_03.jpg");
}

/*복선 01*/
#body>.body03 {
  width: 100%;
  height: 825px;
  background: url("../images/about/about_04.jpg");
}

/*복선 02*/
#body>.body03 {
  width: 100%;
  height: 595px;
  background: url("../images/about/about_05.jpg");
}

/*복선 03*/
#body>.body04 {
  width: 100%;
  height: 990px;
  background: url("../images/about/about_06.jpg");
}

/*복선 04*/
#body>.body05 {
  width: 100%;
  height: 830px;
  background: url("../images/about/about_07.jpg");
}

/*복선 05*/
#body>.body06 {
  width: 100%;
  height: 985px;
  background: url("../images/about/about_08.jpg");
}

/*복선 회수*/
#body>.body07 {
  width: 100%;
  height: 1024px;
  background: url("../images/about/about_09.jpg");
}

/*목표*/
#body>.body08 {
  width: 100%;
  height: 1024px;
  background: url("../images/about/about_10.jpg");
}

/*플레이리스트*/
#body>.body09 {
  width: 100%;
  height: 1135px;
  background: url("../images/about/about_11.jpg");
}

/*명언*/
#body>.body10 {
  width: 100%;
  height: 470px;
  background: url("../images/about/about_12.jpg");
}

/*카톡*/
#body>.body11 {
  width: 100%;
  height: 1240px;
  background: url("../images/about/about_13.jpg");
}

/*푸터*/
#footer {
  clear: both;
  width: 1920px;
  height: 300px;
}
#footer>.outro {
  width: 100%;
  height: 260px;
  background: url("../images/about/about_14.jpg");
}
#footer>.footer {
  width: 100%;
  height: 40px;
  background: url("../images/footer.jpg");
  }